APP_NAME=TRIS-SCHOOL
APP_ENV=local
APP_KEY=base64:ExPrmCjyfqMuGE+nxFI8foDiC2aVWa/ZudPpt/sZiak=
APP_DEBUG=true
APP_URL=https://academy.trisservice.eu

APP_LOCALE=ru
APP_FALLBACK_LOCALE=ru
APP_FAKER_LOCALE=ru_RU

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

DB_OLD_CONNECTION=sqlite
DB_OLD_DATABASE=/www/trisservice.eu/database/database.sqlite

SESSION_DRIVER=database
SESSION_LIFETIME=43200
SESSION_EXPIRE_ON_CLOSE=false
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=TrisAcademyBot

TELEGRAM_ADMIN_CHAT_ID=-1002456236139
TELEGRAM_ADMIN_THREAD_ID=30166

TELEGRAM_CHAT_ID_FORMWEEKEND=-1002456236139
TELEGRAM_THREAD_ID_FORMWEEKEND=32
DAY_OFF_ADMIN_CHAT_URL=https://t.me/Tris_Admin_Tetiana

DAY_OFF_PROFILE_URL=https://academy.trisservice.eu/profile/applications

TELEGRAM_CHAT_ID_VACATION=-1002456236139
TELEGRAM_THREAD_ID_VACATION=265
VACATION_ADMIN_CHAT_URL=https://t.me/Tris_Admin_Tatiana

TELEGRAM_CHAT_ID_INVENTORY=-1002456236139
TELEGRAM_THREAD_ID_INVENTORY=105

INVENTORY_APPLICATIONS_URL=https://academy.trisservice.eu/profile/applications
INVENTORY_ADMIN_CHAT_URL=https://t.me/Tris_Admin_Tetiana

TELEGRAM_CHAT_ID_STAFF_FORMS=-1002456236139
TELEGRAM_THREAD_ID_STAFF_FORMS=265

TELEGRAM_CHAT_ID_CALENDAR=-1002456236139
TELEGRAM_THREAD_ID_CALENDAR=28636

STAFF_FORMS_SALARY_THREAD_ID=23886
STAFF_FORMS_SCHEDULE_THREAD_ID=27584
STAFF_FORMS_FEEDBACK_THREAD_ID=3275

STAFF_FORMS_INVENTORY_THREAD_ID=105

TELEGRAM_WORK_WEBHOOK_SECRET=trisss
TELEGRAM_WORK_ALLOWED_CHAT_IDS=-1002456236139




TELEGRAM_ANALYTICS_BOT_TOKEN=
TELEGRAM_ANALYTICS_WEBHOOK_SECRET=mnepoxyi
ANALYTICS_DB_DATABASE=/var/www/u2952306/data/www/academy.trisservice.eu/database/telegram_analytics.sqlite


# TELEGRAM_MOBILITY_TARGETS=-1003388622381:6,-1002472977974:162953,-1002307865755:285365,-1002240304174:214250,-1002236910366:24247,-1002412921274:214268


TRIS_MARE_SHEET_ID=
TRIS_MARE_SUMMARY_GID=
TRIS_MARE_DAILY_GID=
TRIS_MARE_WEEKLY_GID=